# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# SQLite
*.db
*.db-journal

# Salida de publicar.ps1
publicacion/

# Salida de EyeYul.iss (instalador compilado con Inno Setup)
instalador/
